<div class="container" width="100%">

    <div class="text{% if include.storyboard %}-storyboard{% endif %} left">
        <div class="textcontainer">
            {%- if include.page.quotes and include.storyboard -%}
            <details class="quote">
                <summary>
                    <span class="opener">
                        >> <span class="quoted-marks">" "</span>
                    </span>
                </summary>
                {%- if include.page.quotes -%}
                <div>
                    <q>
                        {% for quote in include.page.quotes %}

                        {%- if quote.command -%}
                        <div class="command">
                            {{ quote.command }}
                        </div>
                        {%- endif -%}

                        {%- if quote.text -%}
                            {{ quote.text }}
                        {%- endif -%}

                        {% endfor %}
                    </q>
                </div>
                {%- endif -%}
            </details>
            {%- endif -%}

            {% for line in include.page.lines %}

            {%- if line.command -%}
                <div class="command">
                    {{ line.command }}
                </div>
            {%- endif -%}

            {%- if line.text -%}
            {{ line.text }}
            {%- endif -%}

            {% endfor %}
    </div>
    </div>
    <div class="panel right">
        {%- if include.storyboard -%}
        <img class="image" src="{{ include.page.image | prepend: site.imgpath | append: '.gif' | relative_url }}">
        {%- else -%}
        <a href="{{ include.page.nextpost relative_url }}">
        <img class="image" src="{{ include.page.image | prepend: site.imgpath | append: '.gif' | relative_url }}">
        </a>
        {%- endif -%}
        {%- if include.panelview -%}
        <div class="navlinks">
            {%- if include.page.prevpost -%}
            <div class="left">
                <a class="left" href="{{ site.firstpanel relative_url }}">&#8804;</a>
                <a class="left" href="{{ include.page.prevpost relative_url }}">&#60;</a>
            </div>
            {%- endif -%}
            {%- if include.page.nextpost -%}
            <div class="right">
                <a class="right" href="{{ include.page.nextpost relative_url }}">&#62;</a>
                <a class="right" href="{{ site.lastpanel relative_url }}">&#8805;</a>
            </div>
            {%- endif -%}
        </div>
        {%- endif -%}
    </div>
</div>
