html {
	height: 99%;
}
body {
	text-wrap: wrap;
}
a {
	color: red;
}
a:visited {
	color: darkred;
}
body {
	height: 100%;
	color: white;
	background-color: black;

	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}
details > summary {
	font-style: normal;
    list-style-type: '>> \" \"';
}

details[open] > summary {
    list-style-type: '\2228\2228';
}
details > summary {
	padding: 2px 6px;
	width: fit-content;
	border: none;
	cursor: pointer;
}
.opener:hover {
	border-radius: 5px;
	background-color: rgb(45, 45, 45);
}

details > div {
	width: fit-content;
	display: inline-block;
	padding: 2px 6px;
	margin: 0;
}

.container {
	width: 100%;
	padding-bottom: 10px;
	/* height: 95%; */

	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
    flex-direction: row;
	justify-content: space-between;
}
.textcontainer {
	width: 100%;
    font-family: serif;
    font-size: 1.8em;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
}
.textfloat {
	display: flex;
	vertical-align: middle;
	justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
	flex-shrink: 1;
}
.storyboard {
    justify-content: left;
}
.linebreak {
	height: 0.8em;
}
.command {
	font-style: italic;
	color: green;
	margin-bottom: 0.3em;
}
.text {
	margin-bottom: 1em;
	white-space: pre-line;
}
.command:before {
	font-style: normal;
    content: "\276F";
}
.quote {
	quotes: none;
	font-style: italic;
    margin-bottom: 1.5em;
	color: LightGreen;
	font-family: sans-serif;
	font-size: 0.5em;
}
.special-text {
	font-family: monospace;
	font-weight: bold;
	font-size: 1.2em;
	color: yellow;
}
.panelcontainer {
	width: fit-content;
    display: flex;

	flex-direction: column;
	/* width: 701px; */
	/* height: 100%; */
}
.image {
	border: none;
}
.caption {
	color: red;
}
.credit {
	font-size: 3.0em;
}
.name {
	font-size: 6.0em;
}
.credits-arrow {
	font-size: 3.0em;
	font-weight: bold;
	text-align: center;
}
.option {
	font-weight: bold;
}
.optiontext {
	margin-left: 1cm;
}
.imageside {
	width: fit-content;
}
.navlinks {
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	font-size: 1.5em;
}
.navlinks .left {
	margin-right: auto;
}
.navlinks .right {
	margin-left: auto;
}
.navlinks a {
	text-decoration: none;
}

/* Phones etc */
@media (max-width: 1437px) {
	.container {
		flex-wrap: wrap-reverse;
		justify-content: space-around;
	}
	.textcontainer {
		max-width: 100%;
		min-width: 100%;
		justify-content: left;
		font-size: 1.4em;
	}
	.textcontainer-storyboard {
		max-width: 100%;
		min-width: 100%;
		justify-content: left;
		padding-bottom: 80px;
	}
	.panelcontainer {
		width: 100%;
	}
	.image {
		width: 100%;
	}
}